:host {
  display: flex;
  flex: 1;
  flex-flow: column;
  overflow-y: auto;

  .nav-bar-link {
    flex: 1;
    opacity: 1;

    &-icon {
      margin-right: 10px;
    }
    
    &-label {
      color: white;
    }
  }
}